<div class="oj-hybrid-padding">
    <div>
    <h1 style="color: #F6A91B; font-size: 24px; font-family: 'Trebuchet MS', sans-serif">Welcome to Cristal House
        library</h1>
    </br>
    <h2 style="color: #F6A91B; font-size: 16px; font-family: 'Trebuchet MS', sans-serif;">Please login to continue</h2>
    </div>
    <div>
        <oj-label style="font-size:25px; color: white;" for="username" >Username </oj-label>
        <oj-input-text label-hint="enabled" id="username" value="[[username]]" style="width: 20%;"></oj-input-text>
        <oj-label style="font-size:25px; color: white;" ;" for="password">Password </oj-label>
        <oj-input-password id="password" value="[[password]]" style="width: 20%;">
        </oj-input-password>
        <br>
        <br>
        <script type="text/javascript" src="md5-min.js"></script>
        <script type="text/javascript">
            hash = hex_md5("string");
            hmac = hex_hmac_md5("key", "data");
        </script>
        <oj-button class="oj-button-lg" on-oj-action='[[loginClick]]' style="width: 20%; margin-left: 40%; margin-right: 40%">
            <span>
                <oj-bind-text></oj-bind-text> Login
            </span>
        </oj-button>
        <oj-input-text label-hint="readonly no value" readonly="true"></oj-input-text>
        <oj-button class="oj-button-lg" on-oj-action='[[loginClick]]' style="width: 10%; margin-left: 45%; margin-right: 45%">
            <span>
                <oj-bind-text></oj-bind-text> Sign Up
            </span>
        </oj-button>
    </div>

</div>