<div class="book-block">
    <div class="book-title">
      <oj-bind-text value="[[title]]"></oj-bind-text>
    </div>
    <span>
      <img class="book-image" :src="[[smallThumbnail]]" />
    </span>
    <div>
      <span class="book-heading">Authors: </span>
      <oj-bind-for-each data="[[authors]]">

        <template>
          <oj-bind-text value="[[$current.data]]"></oj-bind-text>
        </template>
      </oj-bind-for-each>
      <br />
      <oj-bind-if test="[[categories !== undefined]]">
        <span class="book-heading">Categories:</span>
        <oj-bind-for-each data="[[categories]]">

          <template>
            <oj-bind-text value="[[$current.data]]"></oj-bind-text>
          </template>
        </oj-bind-for-each>
      </oj-bind-if>
    </div>
</div>